<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!--mapper이름이랑 동일  -->

<mapper namespace="com.yedam.member.mapper.MemberMapper">
	<select id = "login" resultType = "MemberVO">
	 select * from members where member_id=#{memberId} and member_pw=#{memberPw}
	</select>
	
	<insert id = "addMember" parameterType="MemberVO">
		insert into members(member_id, member_pw, member_name, member_phone, member_addr, responsibility, image)
		values(#{memberId}, #{memberPw}, #{memberName}, #{memberPhone}, #{memberAddr}, 'user', #{image})
	</insert>
	
	<select id="memberList" resultType="MemberVO">
		select * from members order by member_id
	</select>
	
	<select id="getMember" parameterType = "string" resultType="MemberVO">
		select * from members where member_id=#{id}
	</select>
	
<!-- 	<update id="updateMember" parameterType="MemberVO" >
		update members set member_name=#{memberName}, member_pw=#{memberPw},
		member_phone=#{memberPhone}, member_addr=#{memberAddr} where
		member_id=#{memberId} 뒤에 붙은거는 vo에 있는 이름 
	</update>  -->
	
	<update id="updateMember" parameterType="MemberVO" >
	update members
	<set>
	<if test="image!=null">
		image=#{image},
	</if>
	<if test="memberName!=null">
		member_name=#{memberName},
	</if>
	<if test="memberPw!=null">
		member_pw=#{memberPw},
	</if>
	<if test="memberPhone!=null">
		member_phone=#{memberPhone},
	</if>
	<if test="memberAddr!=null">
		member_addr=#{memberAddr},
	</if>
	<if test="responsibility!=null">
		responsibility=#{responsibility}
	</if>
</set> 
	where member_id=#{memberId}
	</update> 
	
	<delete id="deleteMember" parameterType="string" >
		delete from members where member_id=#{mid}
	</delete>

</mapper>



